@font-face {
  font-family: "TharLon";
  src: url("../../fonts/TharLon.woff2") format("woff2"),
    url("../../fonts/TharLon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TharLon";
  src: url("../../fonts/TharLon.woff2") format("woff2"),
    url("../../fonts/TharLon.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../../fonts/archivo-black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
