// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #D9D9D9;
$color-other-blue: #1F4E75;
$color-blue: #6590B3;
$color-suva-grey: #909090;
//$color-secondary: #0C1829;
//$color-thirty: #1F4E75;
//$color-button: #1A1A1A;
//$color-fill-primary-hover: #909090;
//$color-fill-thirty: #888888;


// Typography

$ff-tharLon: "TharLon", "Arial", sans-serif;
$ff-archivo-black: "Archivo Black", "Arial", sans-serif;
$ff-unbounded: "Unbounded", "Arial", sans-serif;
$ff-alexandria: "Alexandria", "Arial", sans-serif;
$ff-inter: "Inter", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
