// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-Other-Blue: #1F4E75;
$color-Blue: rgba(101, 144, 179, 1);

// Typography

$ff-TharLon: "TharLon", "Arial", sans-serif;
$ff-ArchivoBlack: "Archivo Black", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
