.hero {
  background-color: $color-white;
  margin: 0 auto 50px;

  &__img {
    position: relative;
    background-color: $color-light-grey;

    &::after {
      content: "";
      width: 100%;
      height: 270px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 14.22%, rgba(255, 255, 255, 0.76) 54.8%, #FFF 91.49%);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 71px;
    top: -8px;
    z-index: 10;
  }

  &__title {
    font-family: $ff-archivo-black;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    color: $color-other-blue;
    margin: 0;
    padding: 0;
    }
}