.rental {
  padding: 90px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__btn {
    width: 360px;
  }
}