.tours {
  padding: 50px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__title {
    font-family: $ff-archivo-black;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px;
    display: block;
    padding: 0 300px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__button {
    width: 360px;
  }
}